
<div class="btn-group pull-right">
  <button 
    type="button" 
    class="btn"
    ng-class="{'btn-danger':selection.showWoundsEffects, 'btn-default':!selection.showWoundsEffects}"
    ng-click="selection.showWoundsEffects = true"
    >
    <i class="icon-screenshot"></i><span class="hidden-inline-xs">  In Combat</span>
  </button>
  <button 
    type="button" 
    class="btn"
    ng-class="{'btn-success':!selection.showWoundsEffects, 'btn-default':selection.showWoundsEffects}"
    ng-click="selection.showWoundsEffects = false"
    >
    <i class="icon-ban-circle"></i><span class="hidden-inline-xs"> Out of combat</span>
  </button>
</div>

<!-- Character Name -->
<h2>{{character.name}}&nbsp;
    <small>
      <a href="/#/characters/{{character.id}}" class="muted"><i class="icon-external-link"></i></a>
      <button class="btn btn-danger" ng-click="removeChar(character.id)" ng-show="editableParty">
        <i class="icon-trash"></i> Remove
      </button>
    </small>
</h2>

<!-- Stats, wounds, & effects -->
<ng-include src="'/partials/sub/party/party_stats_wounds_effects.html'"></ng-include>

<div  ng-show="selection.showWoundsEffects">
  <!-- Armour -->
  <ng-include src="'/partials/sub/party/party-armour.html'"></ng-include>

  <!-- Weapons -->
  <ng-include src="'/partials/sub/party/party-ranged.html'"></ng-include>
  <ng-include src="'/partials/sub/party/party-aoe.html'"></ng-include>
  <ng-include src="'/partials/sub/party/party-melee.html'"></ng-include>
</div>

<!-- Skills -->
<ng-include src="'/partials/sub/skills.html'"></ng-include>

<!-- Equipment -->
<ng-include src="'/partials/sub/party/party-equipment.html'"></ng-include>
