<!-- Character Name -->
<h2>{{character.name}}&nbsp;
    <small>
      <a href="/#/characters/{{character.id}}" class="muted"><i class="icon-external-link"></i></a>
      <button class="btn btn-danger" ng-click="removeChar(character.id)" ng-show="editableParty">
        <i class="icon-trash"></i> Remove
      </button>
    </small>
</h2>

<!-- Stats, wounds, & effects -->
<ng-include src="'/partials/sub/party/party_stats_wounds_effects.html'"></ng-include>

<!-- Weapons -->
<div class="panel panel-primary">
  <div class="panel-heading">Ranged</div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="ranged in rangedList | filter:limitIfShowLoadout | orderBy:'name'">
      <h4>{{ranged.name}}</h4>
      <ng-include src="'/partials/sub/ranged.html'"></ng-include>
    </li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Melee</div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="melee in meleeList | filter:limitIfShowLoadout | orderBy:'name'">
      <h4>{{melee.name}}</h4>
      <ng-include src="'/partials/sub/melee.html'"></ng-include>
    </li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Area Effect</div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="areaEffect in areaEffectList | filter:limitIfShowLoadout | orderBy:'name'">
      <h4>{{areaEffect.name}}</h4>
      <ng-include src="'/partials/sub/aoe.html'"></ng-include>
    </li>
  </ul>
</div>

<!-- Skills -->
<ng-include src="'/partials/sub/skills.html'"></ng-include>

<!-- Armour and Equipment -->
<!--
<table class="table table-condensed">
  <tbody>
    <tr>
      <td class="hidden-phone"><b>Armour:</b></td>
      <td>
        <span ng-repeat="set in armourSetList | filter:limitIfShowLoadout | orderBy:'name'">
          <i class="icon-info-sign muted"
            data-unique="1"
            bs-popover="'partials/sub/armour.html'"
            data-title="<b>{{set.name}}</b><button type='button' class='close' ng-click='dismiss()'>&times;</button>"></i>
          {{set.name}}<br />
        </span>
        <span ng-hide="armourSetList.length">No armour</span>
      </td>
    </tr>
    <tr>
      <td class="hidden-phone"><b>Equipment:</b></td>
      <td>
        <span ng-repeat="eq in equipmentList | filter:limitIfShowLoadout | orderBy:'name'">{{eq.name}} <span ng-hide="eq.loadout == '1'">[{{eq.loadout}}]</span><br />
        </span>
        <span ng-hide="equipmentList.length">No equipment</span>
      </td>
    </tr>
  </tbody>
</table>
-->