<!-- Refreshing progress bar -->
<div class="row" ng-show="outstandingReads">
  <div class="span12">
    <h1>Refreshing <small><i class="icon-spinner icon-spin"></i></small></h1>
    <div class="progress progress-striped active">
      <div class="bar" style="width: {{progress}};"></div>
    </div>
  </div>
</div>
<div ng-hide="outstandingReads">
  <div class="row">
    <div class="span12">
      <h1><span contenteditable="{{editable}}" ng-model="character.name" on-ok="character.ui.edit=true"></span>
        <small contenteditable="{{editable}}" ng-model="character.career" on-ok="character.ui.edit=true"></small>

        <!-- Edit button -->
        <span class="pull-right">
          <button class="btn" ng-click="allowEdit()" ng-hide="editable"><i class="icon-edit muted" tooltip="Enable Editing"></i></button>
          <button class="btn btn-primary" ng-click="endEdit()" ng-show="editable"><span tooltip="Save Changes"><i class="icon-cloud-upload"></i>&nbsp;Save</span></button>
          <button class="btn" ng-click="cancelEdit()" ng-show="editable">Cancel</button>
        </span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <p class="muted">
        <span contenteditable="{{editable}}" on-ok="character.ui.edit=true" ng-model="character.race"></span>
        <span contenteditable="{{editable}}" on-ok="character.ui.edit=true" ng-model="character.gender"></span>, 
        <span contenteditable="{{editable}}" on-ok="character.ui.edit=true" ng-model="character.age"></span>&nbsp;years old, 
        <span contenteditable="{{editable}}" on-ok="character.ui.edit=true" ng-model="character.height"></span>&nbsp;cm, 
        <span contenteditable="{{editable}}" on-ok="character.ui.edit=true" ng-model="character.weight"></span>&nbsp;kg
      </p>
    </div>
    <div class="span6">
      <div class="pull-right muted">
        <span contenteditable="{{editable}}" on-ok="character.ui.edit=true" ng-model="character.caste"></span>: 
        <b><span contenteditable="{{editable}}" on-ok="character.ui.edit=true" ng-model="character.experience"></span> EPs</b>
      </div>
    </div>
  </div>

  <!-- spacer -->
  <div class="row">
    <div class="span12">&nbsp;</div>
  </div>

  <tabs>
    <!-- ============================================================================== -->
    <!-- Stats, wounds, and skills tab                                                  -->
    <!-- ============================================================================== -->
    <pane heading="Stats" icon="user">
      <div class="row">
        <div class="span6">
          <!-- Stats -->
          <table class="table table-condensed" ng-hide="tableOption">
            <thead>
              <tr>
                <th class="lead hidden-phone">Stats</th>
                <th>Iq</th>
                <th>Aw</th>
                <th>Mt</th>
                <th>Ps</th>
                <th>A</th>
                <th>E</th>
                <th>S</th>
                <th>R</th>
                <th>As</th>
                <th>Ai</th>
                <th>Dx</th>
                <th>Sp</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="editable">
                <td class="muted hidden-phone">Base:</td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.iqBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.awBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.mtBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.psBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.aBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.eBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.sBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.rBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.asBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.aiBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.dxBase"></td>
                <td class="muted" contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.spBase"></td>
              </tr>
              <tr>
                <td class="hidden-phone">Upgraded:</td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.iqUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.awUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.mtUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.psUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.aUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.eUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.sUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.rUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.asUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.aiUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.dxUp"></td>
                <td contenteditable="{{editable}}" on-ok="stats.ui.edit=true" ng-model="stats.spUp"></td>
              </tr>
              <tr ng-hide="editable">
                <td class="hidden-phone">Current:</td>
                <td>{{tmpStats["iq"]}}</td>
                <td>{{tmpStats["aw"]}}</td>
                <td>{{tmpStats["mt"]}}</td>
                <td>{{tmpStats["ps"]}}</td>
                <td>{{tmpStats["a"]}}</td>
                <td>{{tmpStats["e"]}}</td>
                <td>{{tmpStats["s"]}}</td>
                <td>{{tmpStats["r"]}}</td>
                <td>{{tmpStats["as"]}}</td>
                <td>{{tmpStats["ai"]}}</td>
                <td>{{tmpStats["dx"]}}</td>
                <td>{{tmpStats["sp"]}}</td>
              </tr>
            </tbody>
          </table>

          <!-- Wounds -->
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="span3 lead">Wounds</th>
                <th>
                  <abbr title="Damage">Dmg</abbr></th>
                <th>
                  <abbr title="Location">Loc</abbr></th>
                <th>
                  <abbr title="Critical">Crit?</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="wound in wounds | orderBy:'-damage'">
                <td ng-class="stateClass(wound)" contenteditable="{{editable}}" on-ok="wound.ui.edit=true" ng-model="wound.note"></td>
                <td ng-class="stateClass(wound)" contenteditable="{{editable}}" on-ok="wound.ui.edit=true" ng-model="wound.damage"></td>
                <td ng-class="stateClass(wound)" contenteditable="{{editable}}" on-ok="wound.ui.edit=true" ng-model="wound.location"></td>
                <td ng-class="stateClass(wound)">
                  <span ng-show="(wound.ui.delete || !editable) && wound.critical">&#10004;</span>
                  <input type="checkbox" ng-show="editable && !wound.ui.delete" ng-model="wound.critical" ng-change="wound.ui.edit=true" />

                  <span class="pull-right" ng-show="editable && !wound.ui.delete" ng-click="wound.ui.delete = true"><i class="icon-remove-circle"></i></span>
                  <span class="pull-right" ng-show="editable && wound.ui.delete" ng-click="wound.ui.delete = false"><i class="icon-undo"></i></span>
                </td>
              </tr>
              <tr ng-show="wounds && !editable">
                <td><span class="muted">Total Damage</span></td>
                <td><span class="muted">{{wounds.totalDamage}}</span></td>
                <td></td>
                <td><span class="muted" ng-show="wounds.anyCritical"><i class="icon-ok"></i></span></td>
              </tr>
              <tr ng-show="editable">
                <td colspan="4">
                  <button type="submit" class="btn btn-success pull-right" ng-click="addWound()" ng-show="editable">
                    <i class="icon-plus"></i>&nbsp;Add Wound
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Effects -->
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="span3 lead">Effects</th>
                <th>Stat</th>
                <th>Effect</th>
            </thead>
            <tbody>
              <tr ng-repeat="effect in effects">
                <td ng-class="stateClass(effect)" contenteditable="{{editable}}" on-ok="effect.ui.edit=true" ng-model="effect.notes"></td>
                <td ng-class="stateClass(effect)" contenteditable="{{editable}}" on-ok="effect.ui.edit=true" ng-model="effect.stat"></td>
                <td ng-class="stateClass(effect)">
                  <span ng-show="(effect.ui.delete || !editable) && effect.critical">&#10004;</span>
                  <span ng-class="stateClass(effect)" contenteditable="{{editable}}" on-ok="effect.ui.edit=true" ng-model="effect.effect"></span>

                  <span class="pull-right" ng-show="editable && !effect.ui.delete" ng-click="effect.ui.delete = true"><i class="icon-remove-circle"></i></span>
                  <span class="pull-right" ng-show="editable && effect.ui.delete" ng-click="effect.ui.delete = false"><i class="icon-undo"></i></span>
                </td>
              </tr>
              <tr ng-show="editable">
                <td colspan="4">
                  <button type="submit" class="btn btn-success pull-right" ng-click="addEffect()" ng-show="editable">
                    <i class="icon-plus"></i>&nbsp;Add Effect
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="span5 offset1">
          <!-- Skills -->
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="lead">Skills</th>
                <th>
                  <abbr title="Level">Lvl</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="skill in skills | orderBy:'name'">
                <td ng-class="stateClass(skill)" contenteditable="{{editable}}" ng-model="skill.name" on-ok="skill.ui.edit=true"></td>
                <td ng-class="stateClass(skill)" contenteditable="{{editable}}" ng-model="skill.level" on-ok="skill.ui.edit=true"></td>
                <td ng-show="editable">
                  <span class="pull-right" ng-show="editable && !skill.ui.delete" ng-click="skill.ui.delete = true"><i class="icon-remove-circle"></i></span>
                  <span class="pull-right" ng-show="editable && skill.ui.delete" ng-click="skill.ui.delete = false"><i class="icon-undo"></i></span>
                </td>
              </tr>
              <tr ng-show="editable">
                <td colspan="3">
                  <button type="submit" class="btn btn-success pull-right" ng-click="addSkill()" ng-show="editable">
                    <i class="icon-plus"></i>&nbsp;Add Skill
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </pane>

    <!-- ============================================================================== -->
    <!-- Weapons tab                                                                    -->
    <!-- ============================================================================== -->
    <pane heading="Weapons" icon="screenshot">
      <!-- Ranged Weapons -->
      <div class="row">
        <div class="span12">
          <h3>Ranged Weapons
            <button type="submit" class="btn btn-success pull-right" ng-click="addRanged()" ng-show="editable">
              <i class="icon-plus"></i>&nbsp;Add Ranged Weapon
            </button>
          </h3>
          <div class="columns">
            <div class="well card span5" ng-repeat="ranged in rangedList | orderBy:'name'">
              <span class="lead">
                <b ng-class="stateClass(ranged)" contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.name"></b>
              </span>
              <span ng-show="editable && !ranged.ui.delete" ng-click="ranged.ui.delete = true"><i class="icon-remove-circle"></i></span>
              <span ng-show="editable && ranged.ui.delete" ng-click="ranged.ui.delete = false"><i class="icon-undo"></i></span>

              <div class="row muted">
                <div class="span5">
                  <span ng-show="editable && !ranged.notes">Notes:</span>
                  <span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.notes"></span>
                </div>

                <div class="span5">
                  <span class="lead muted">
                    <i class="icon-wrench"tooltip="Strength"></i></a>&nbsp;<span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.strength"></span> &nbsp;
                    <i class="icon-heart" tooltip="Damage"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.damage"></span>&nbsp;
                    <i class="icon-retweet"tooltip="Rate of Fire"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.rof"></span> &nbsp;
                  </span>
                </div>

                <div class="span5">
                  <span class="lead muted">
                    <i class="icon-screenshot" tooltip="To Hit"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.tohit"></span>&nbsp;
                    <i class="icon-time" tooltip="Dx"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.dx"></span> &nbsp;
                    <i class="icon-resize-horizontal" tooltip="Range: Short/Medium/Long"></i>&nbsp;
                      <span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.short"></span>&nbsp;/
                      <span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.medium"></span>&nbsp;/
                      <span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.long"></span>&nbsp;
                  </span>
                </div>
          
                <div class="span5">
                  <!-- External Ports table -->
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th class="span2">External Ports</th>
                        <th class="span2">
                          <i class="icon-cog"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.ports"></span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="extport in ranged.extports">
                        <td ng-class="stateClass(extport)"  contenteditable="{{editable}}" on-ok="extport.ui.edit=true" ng-model="extport.name"></td>
                        <td ng-class="stateClass(extport)" >
                          <span contenteditable="{{editable}}" on-ok="extport.ui.edit=true" ng-model="extport.effect"></span>
                          <span class="pull-right" ng-show="editable && !extport.ui.delete" ng-click="extport.ui.delete = true"><i class="icon-remove-circle"></i></span>
                          <span class="pull-right" ng-show="editable && extport.ui.delete" ng-click="extport.ui.delete = false"><i class="icon-undo"></i></span>
                        </td>
                      </tr>
                      <tr ng-show="editable">
                        <td colspan="3">
                          <button type="submit" class="btn pull-right" ng-click="addExtPort(ranged)" ng-show="editable">
                            <i class="icon-plus muted"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="span5">
                  <!-- Ammo table -->
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th class="span2">Ammo</th>
                        <th class="span2">Notes</th>
                        <th class="span1">
                          <span ng-show="ranged.drain || editable">
                            <i class="icon-bolt"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="ranged.ui.edit=true" ng-model="ranged.drain"></span>
                          </span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="ammo in ranged.ammos">
                        <td ng-class="stateClass(ammo)"  contenteditable="{{editable}}" on-ok="ammo.ui.edit=true" ng-model="ammo.name"></td>
                        <td ng-class="stateClass(ammo)"  contenteditable="{{editable}}" on-ok="ammo.ui.edit=true" ng-model="ammo.notes"></td>
                        <td ng-class="stateClass(ammo)" >
                          <span contenteditable="{{editable}}" on-ok="ammo.ui.edit=true" ng-model="ammo.count"></span>
                          <span class="pull-right" ng-show="editable && !ammo.ui.delete" ng-click="ammo.ui.delete = true"><i class="icon-remove-circle"></i></span>
                          <span class="pull-right" ng-show="editable && ammo.ui.delete" ng-click="ammo.ui.delete = false"><i class="icon-undo"></i></span>
                        </td>
                      </tr>
                      <tr ng-show="editable">
                        <td colspan="3">
                          <button type="submit" class="btn pull-right" ng-click="addAmmo(ranged)" ng-show="editable">
                            <i class="icon-plus muted"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Melee Weapons -->
      <div class="row">
        <div class="span12">
          <h3>Melee Weapons
            <button type="submit" class="btn btn-success pull-right" ng-click="addMelee()" ng-show="editable">
              <i class="icon-plus"></i>&nbsp;Add Melee Weapon
            </button>
          </h3>
          <div class="columns">
            <div class="well card span5" ng-repeat="melee in meleeList | orderBy:'name'">
              <span class="lead">
                <b ng-class="stateClass(melee)" contenteditable="{{editable}}" on-ok="melee.ui.edit=true" ng-model="melee.name"></b>
              </span>
              <span ng-show="editable && !melee.ui.delete" ng-click="melee.ui.delete = true"><i class="icon-remove-circle"></i></span>
              <span ng-show="editable && melee.ui.delete" ng-click="melee.ui.delete = false"><i class="icon-undo"></i></span>

              <div class="row muted">
                <div class="span5">
                  <span ng-show="editable && !melee.notes">Notes:</span>
                  <span contenteditable="{{editable}}" on-ok="melee.ui.edit=true" ng-model="melee.notes"></span>
                </div>

                <div class="span5">
                  <span class="lead muted">
                    <i class="icon-wrench"tooltip="Strength"></i></a>&nbsp;<span contenteditable="{{editable}}" on-ok="melee.ui.edit=true" ng-model="melee.strength"></span> &nbsp;
                    <i class="icon-heart" tooltip="Damage"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="melee.ui.edit=true" ng-model="melee.damage"></span>&nbsp;
                    <i class="icon-legal" tooltip="Attack Skill"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="melee.ui.edit=true" ng-model="melee.as"></span>&nbsp;
                    <i class="icon-time" tooltip="Dx"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="melee.ui.edit=true" ng-model="melee.dx"></span> &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Area of Effect Weapons -->
      <div class="row">
        <div class="span12">
          <h3>Area of Effect Weapons
            <button type="submit" class="btn btn-success pull-right" ng-click="addAreaEffect()" ng-show="editable">
              <i class="icon-plus"></i>&nbsp;Add Area Effect Weapon
            </button>
          </h3>
          <div class="columns">
            <div class="well card span5" ng-repeat="areaEffect in areaEffectList | orderBy:'name'">
              <span class="lead">
                <b ng-class="stateClass(areaEffect)" contenteditable="{{editable}}" on-ok="areaEffect.ui.edit=true" ng-model="areaEffect.name"></b>
                <span class="pull-right">
                  [&nbsp;<span ng-class="stateClass(areaEffect)" contenteditable="{{editable}}" on-ok="areaEffect.ui.edit=true" ng-model="areaEffect.number"></span>&nbsp;]
                </span>
              </span>
              <span ng-show="editable && !areaEffect.ui.delete" ng-click="areaEffect.ui.delete = true"><i class="icon-remove-circle"></i></span>
              <span ng-show="editable && areaEffect.ui.delete" ng-click="areaEffect.ui.delete = false"><i class="icon-undo"></i></span>

              <div class="row muted">
                <div class="span5">
                  <span ng-show="editable && !areaEffect.notes">Notes:</span>
                  <span contenteditable="{{editable}}" on-ok="areaEffect.ui.edit=true" ng-model="areaEffect.notes"></span>
                </div>

                <div class="span5">
                  <span class="lead muted">
                    <i class="icon-wrench"tooltip="Strength"></i></a>&nbsp;<span contenteditable="{{editable}}" on-ok="areaEffect.ui.edit=true" ng-model="areaEffect.strength"></span> &nbsp;
                    <i class="icon-heart" tooltip="Damage"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="areaEffect.ui.edit=true" ng-model="areaEffect.damage"></span>&nbsp;
                    <i class="icon-move" tooltip="Area"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="areaEffect.ui.edit=true" ng-model="areaEffect.area"></span>&nbsp;m<sup>2</sup>&nbsp;
                    <i class="icon-group" tooltip="Hits"></i>&nbsp;<span contenteditable="{{editable}}" on-ok="areaEffect.ui.edit=true" ng-model="areaEffect.hits"></span> &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </pane>
 
    <!-- ============================================================================== -->
    <!-- Equipment tab                                                                    -->
    <!-- ============================================================================== -->
    <pane heading="Equipment" icon="briefcase">
      <!-- Armour Sets -->
      <div class="row">
        <div class="span12">
          <h3>Armour Sets
            <button type="submit" class="btn btn-success pull-right" ng-click="addArmourSet()" ng-show="editable">
              <i class="icon-plus"></i>&nbsp;Add Set
            </button>
          </h3>
          <div class="columns">
            <div class="well card span5" ng-repeat="set in armourSetList | orderBy:'name'">
              <span class="lead">
                <b ng-class="stateClass(set)" contenteditable="{{editable}}" on-ok="set.ui.edit=true" ng-model="set.name"></b>
              </span>
              <span ng-show="editable && !set.ui.delete" ng-click="set.ui.delete = true"><i class="icon-remove-circle"></i></span>
              <span ng-show="editable && set.ui.delete" ng-click="set.ui.delete = false"><i class="icon-undo"></i></span>

              <div class="row muted">
                <div class="span5">
                  <span ng-show="editable && !set.notes">Notes:</span>
                  <span contenteditable="{{editable}}" on-ok="set.ui.edit=true" ng-model="set.notes"></span>
                </div>

                <div class="span5">
                  <!-- Pieces table -->
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th class="span1">Location</th>
                        <th class="span1" ng-show="editable">Base Cond</th>
                        <th class="span1">Condition</th>
                        <th class="span2">Notes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="piece in set.pieces | filter:pieceFilter | orderBy:'location'">
                        <td ng-class="stateClass(piece)"  contenteditable="{{editable}}" on-ok="piece.ui.edit=true" ng-model="piece.location"></td>
                        <td ng-class="stateClass(piece)"  contenteditable="{{editable}}" ng-show="editable" on-ok="piece.ui.edit=true" ng-model="piece.baseCondition"></td>
                        <td ng-class="stateClass(piece)"  contenteditable="{{editable}}" on-ok="piece.ui.edit=true" ng-model="piece.currentCondition"></td>
                        <td ng-class="stateClass(piece)" >
                          <span contenteditable="{{editable}}" on-ok="piece.ui.edit=true" ng-model="piece.notes"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <i ng-show="editable">Remove "Base Cond" from pieces that you don't own to hide them.</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Equipment in columns -->
      <div class="row">
        <div class="span12">
          <h3>Equipment
            <button type="submit" class="btn btn-success pull-right" ng-click="addEquipment(true)" ng-show="editable">
              <i class="icon-plus"></i>&nbsp;Add Equipment
            </button>
          </h3>
          <div class="columns">
            <div ng-repeat="carriedOption in [true, false]" class="well card span5">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th class="lead">{{{true:'Carried / Worn', false:'Stored / Backpack'}[carriedOption]}}</th>
                    <th tooltip="Count"><abbr title="Count" tooltip="Count">#</abbr></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="equipment in equipmentList | filter:{carried:carriedOption} | orderBy:'name'">
                    <td>
                      <span ng-show="editable" ng-click="equipment.carried = !equipment.carried; equipment.ui.edit = true">
                        <i ng-class="{true:'icon-circle-arrow-right', false:'icon-circle-arrow-left'}[equipment.carried]"></i>&nbsp;
                      </span>
                      <span ng-class="stateClass(equipment)" contenteditable="{{editable}}" ng-model="equipment.name" on-ok="equipment.ui.edit=true"></span>
                    </td>
                    <td ng-class="stateClass(equipment)" contenteditable="{{editable}}" ng-model="equipment.count" on-ok="equipment.ui.edit=true"></td>
                    <td ng-show="editable">
                      <span class="pull-right" ng-show="editable && !equipment.ui.delete" ng-click="equipment.ui.delete = true"><i class="icon-remove-circle"></i></span>
                      <span class="pull-right" ng-show="editable && equipment.ui.delete" ng-click="equipment.ui.delete = false"><i class="icon-undo"></i></span>
                  
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Magic Items -->
      <div class="row">
        <div class="span12">
          <h3>Magic / Psychic Items
            <button type="submit" class="btn btn-success pull-right" ng-click="addMagicItem()" ng-show="editable">
              <i class="icon-plus"></i>&nbsp;Add Item
            </button>
          </h3>
          <div class="columns">
            <div class="well card span5" ng-repeat="item in magicItemList | orderBy:'name'">
              <span class="lead">
                <b ng-class="stateClass(item)" contenteditable="{{editable}}" on-ok="item.ui.edit=true" ng-model="item.name"></b>
              </span>
                
              <span class="pull-right">
                <span class="lead">
                  <b ng-class="stateClass(item)" contenteditable="{{editable}}" on-ok="item.ui.edit=true" ng-model="item.uses"></b>
                  <span ng-class="stateClass(item)">&nbsp;Uses</span>
                </span>

                <span class="lead" ng-show="editable && !item.ui.delete" ng-click="item.ui.delete = true">&nbsp;<i class="icon-remove-circle"></i></span>
                <span class="lead" ng-show="editable && item.ui.delete" ng-click="item.ui.delete = false">&nbsp;<i class="icon-undo"></i></span>
              
              </span>
            
              <div class="muted">
                  <span ng-show="editable && !item.notes">Notes:</span>
                  <span contenteditable="{{editable}}" on-ok="item.ui.edit=true" ng-model="item.notes"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </pane>

    <!-- ============================================================================== -->
    <!-- Money tab                                                                      -->
    <!-- ============================================================================== -->
    <pane heading="Accounts" icon="money">
       <!-- Accounts -->
       <div class="row">
        <div class="span12">
          <h3>Accounts
            <button type="submit" class="btn btn-success pull-right" ng-click="addAccount()" ng-show="editable">
              <i class="icon-plus"></i>&nbsp;Add Account
            </button>
          </h3>
          <div class="columns">
            <div class="well card span5" ng-repeat="account in accountList | orderBy:'name'">
              <span class="lead">
                <b ng-class="stateClass(account)" contenteditable="{{editable}}" on-ok="account.ui.edit=true" ng-model="account.name"></b>
              </span>

              <span class="pull-right">
                <span class="lead" ng-show="editable && !account.ui.delete" ng-click="account.ui.delete = true">&nbsp;<i class="icon-remove-circle"></i></span>
                <span class="lead" ng-show="editable && account.ui.delete" ng-click="account.ui.delete = false">&nbsp;<i class="icon-undo"></i></span>

                <span class="lead">
                  <b ng-class="stateClass(account)" contenteditable="{{editable}}" on-ok="account.ui.edit=true" ng-model="account.balance"></b>&nbsp;&#xa2;
                </span>
              </span>

              <div class="muted">
                  <span ng-show="editable && !account.notes">Notes:</span>
                  <span contenteditable="{{editable}}" on-ok="account.ui.edit=true" ng-model="account.notes"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </pane>
  </tabs>
</div>
