<div class="row" id="front-page-hero">
  <div class="col-md-12">
    <img src="/img/malus.jpg" width="1170" height="459" alt="malus - galaxy spanning adventure" id="front-page-image" class="img-rounded img-responsive">
  </div>
</div>
<div class="row" ng-controller="LoginCtrl" ng-hide="currentUser">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <input type="text" class="input-large" placeholder="username" ng-model="username" />
        <input type="password" class="input-large" placeholder="password" ng-model="password" />
        <button type="submit" class="btn btn-primary" ng-click="login()">Log in</button> or
        <button type="submit" class="btn" ng-click="register()">Register</button>
      </form>
    </div>
  </div>
</div>