<!-- Refreshing progress bar -->
<div class="row" ng-show="!currentUser || !party">
  <div class="col-md-12">
    <h1>Refreshing <small><i class="icon-spinner icon-spin"></i></small></h1>
  </div>
</div>
<div ng-show="currentUser && party">
  <div class="page-header">
    <div class="alert alert-warning" ng-hide="connected">
      <i class="icon-cloud"></i> Realtime connection lost! Party will not automatically update...
    </div>
    <h2><span contenteditable="{{editable}}" ng-model="party.name" on-ok="party.ui.edit=true"></span>

      <!-- Edit button -->
      <span class="pull-right" ng-hide="outstandingReads">
        <button class="btn" ng-click="allowEdit()" ng-hide="editable"><i class="icon-edit muted" tooltip="Enable Editing"></i></button>
        <button class="btn" ng-click="refreshAll()" ng-hide="editable"><i class="icon-refresh muted" tooltip="Refresh"></i></button>
        <button class="btn btn-primary" ng-click="endEdit()" ng-show="editable"><span tooltip="Save Changes"><i class="icon-cloud-upload"></i>&nbsp;Save</span></button>
        <button class="btn" ng-click="cancelEdit()" ng-show="editable">Cancel</button>
      </span>
      <span class="pull-right" ng-show="outstandingReads">
        <i class="icon-spinner icon-spin"></i>
      </span>
      <small>
        <span ng-hide="party.notes">Notes:</span>
        <span contenteditable="{{editable}}" on-ok="party.ui.edit=true" ng-model="party.notes"></span>
      </small>
    </h2>
  </div>

  <tabs>
    <!-- ============================================================================== -->
    <!-- Characters tab                                                                 -->
    <!-- ============================================================================== -->
    <pane heading="Party" icon="group">
      <div class="row">
        <div class="col-md-12 table-responsive">
          <table class="table table-condensed text-center">
            <td ng-repeat="pc in party.pc_chars">
              <a href ng-click="selection.char = pc" class="btn" ng-class="{'btn-primary':pc.id == selection.char.id}">
                {{pc.name | shortname}}<br/>
                <span class="badge"><i class="icon-heart"></i> {{pc.tmpStats['e']}} / {{pc.stats['eUp']}}</span>
              </a>
            </td>
            <td ng-repeat="npc in party.npc_chars | orderBy:npcsortid:true" >
              <a  href ng-click="selection.char = npc" class="btn" ng-class="{'btn-primary':npc.id == selection.char.id}">
                {{npc.name | shortname}}<br/>
                <span class="badge"><i class="icon-heart"></i> {{npc.tmpStats['e']}} / {{npc.stats['eUp']}}</span>
              </a>
            </td>
          </table>
        </div>
      </div>
      
      <!-- Modify Party members -->
      <div ng-show="editable" class="form-horizontal">
        <fieldset>
          <legend>Modify party members</legend>
          <select ng-model="selectedChar" ng-options="c.id as c.name for c in availableChars" class="input-large" placeholder="Select character"></select>
          <button class="btn btn-primary" ng-click="addPC(selectedChar)"><i class="icon-plus"></i>&nbsp;Add as PC</button>
          <button class="btn btn-primary" ng-click="addNPC(selectedChar)"><i class="icon-plus"></i>&nbsp;Add as NPC</button>
        </fieldset>
      </div>

      <div ng-controller="CharacterCtrl">
        <ng-include src="'/partials/sub/party_character.html'"></ng-include>
      </div>

    </pane>

    <!-- ============================================================================== -->
    <!-- Contacts tab  (always make it last)                                            -->
    <!-- ============================================================================== -->
    <pane heading="Contacts" icon="book">
      <!-- New Contact Form -->
      <div class="panel panel-primary" ng-show="editableParty">
        <div class="panel-heading">Add New Contact</div>
        <div class="panel-body">
          <form role="form" name="newContactForm">
            <div class="form-group" ng-class="{'has-warning':newContactForm.newContactName.$valid == false}">
              <label for="newContactName" class="sr-only">Name</label>
              <input 
                type="text" 
                class="form-control" 
                id="newContactName" 
                placeholder="Name [Required]" 
                name="newContactName"
                ng-model="newContact.name" 
                required>
            </div>
            <div class="form-group">
              <label for="newContactCareer" class="sr-only">Career</label>
              <input 
                type="text" 
                class="form-control" 
                id="newContactCareer" 
                placeholder="Career" 
                ng-model="newContact.career">
            </div>
            <div class="form-group">
              <label for="newContactNote" class="sr-only">Notes</label>
              <input 
                type="text" 
                class="form-control" 
                id="newContactNote" 
                placeholder="Notes" 
                ng-model="newContact.notes">
            </div>
            <button 
              type="submit" 
              class="btn btn-primary" 
              ng-click="addNewContact(newContact)"
              ng-disabled="newContactForm.newContactName.$valid == false"
              >
              <i class="icon-plus"></i> Add Contact
            </button>
          </form>
        </div>
      </div>

      <!-- Contacts List -->
      <div class="panel panel-primary">
        <div class="panel-heading">Contacts</div>
        <div class="panel-body">
          <form class="form-inline pull-right" role="search">
            <div class="form-group">
              <label class="sr-only" for="contactSearch">Email address</label>
              <input type="text" class="form-control input-sm" id="contactSearch" placeholder="Search" ng-model="contactSearch">
            </div>
          </form>
          Contacts, associates, and acquaintances of the party.
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="contact in party.contact_chars | orderBy:'name' | filter:contactSearch">
            <div class="pull-right">
              <button type="submit" class="btn btn-primary btn-sm" ng-click="addToParty(contact.id)" ng-show="editableParty">
                <i class="icon-plus"></i> Add to party
              </button>
              <a ng-href="/#/characters/{{contact.id}}" class="muted" ng-hide="editableParty">
                <i class="icon-external-link"></i>
              </a>
            </div>
            <h4 class="list-group-item-heading">{{contact.name}} <small>{{contact.career}}</small></h4>
            <p class="list-group-item-text">{{contact.notes}}</p>
          </li>
        </ul>
      </div>

      <!-- NPCS in party -->
      <div class="panel panel-default">
        <div class="panel-heading">Party</div>
        <div class="panel-body">Current NPC members of the party.</div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="contact in party.npc_chars | orderBy:'name'">
            <div class="pull-right">
              <button class="btn btn-primary btn-sm" ng-click="removeFromParty(contact.id)" ng-show="editableParty">
                <i class="icon-minus"></i> Remove from party
              </button>
              <a ng-href="/#/characters/{{contact.id}}" class="muted" ng-hide="editableParty">
                <i class="icon-external-link"></i>
              </a>
            </div>
            <h4 class="list-group-item-heading">{{contact.name}} <small>{{contact.career}}</small></h4>
            <p class="list-group-item-text">{{contact.notes}}</p>
          </li>
        </ul>
      </div>
    </pane>

    <!-- ============================================================================== -->
    <!-- Settings tab  (always make it last)                                            -->
    <!-- ============================================================================== -->
    <pane heading="Settings" icon="cog">
      <!-- Users List -->
      <div ng-show="editable" class="form-horizontal">
        <fieldset>
          <legend>Modify users</legend>
          <select ng-model="selectedUser" ng-options="u.id as u.username for u in availableUsers" class="input-large"></select>
          <button class="btn btn-primary" ng-click="addUser(selectedUser)"><i class="icon-plus"></i>&nbsp;Add</button>
          <button class="btn btn-primary" ng-click="removeUser(selectedUser)"><i class="icon-trash"></i>&nbsp;Remove</button>
        </fieldset>
      </div>

      <h1>Players</h1>
      <div ng-repeat="player in players">
        {{player.username}}
      </div>
    </pane>
 
  </tabs>
</div>
